<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>


<div th:fragment="head">
    <header>
        <h1><a href="/" title="Click here to return home.">Bookstore</a></h1>
        <div class="topnav" id="myTopnav">
            <a href="/login">Login</a>
            <a href="/contact-us">Contact</a>
            <a href="/about-us">About</a>
        </div>
    </header>
</div>

<p>   * Find any Books you want</p>
<p>   * Get them in the cheapest price</p>
<p>   * Always offer the latest version of Books</p>
<p>   * Digital resources are available for all academic Books</p>
<p>   * Get by a cheaper price if you have the kindle version</p>
<p>   || Get all those services by being our membership ||</p>

<div th:include="layout :: foot">

</div>


</body>
</html>