<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:include="layout::head"/>

    <section>
        <h2>View Database</h2>
        <form th:action="@{/admin/bookstore/view}" method="post">
            <table>
                <caption>Bookstore Database</caption>
                <thead>
                <tr>
                    <th>bookId</th>
                    <th>title</th>
                    <th>isbn</th>
                    <th>author</th>
                    <th>datePublished</th>
                    <th>Genre</th>
                    <th>price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Book : ${bookList}">
                    <td><p th:text="${Book.bookId}"></p></td>
                    <td><p th:text="${Book.title}"></p></td>
                    <td><p th:text="${Book.isbn}"></p></td>
                    <td><p th:text="${Book.author}"></p></td>
                    <td><p th:text="${Book.datePublished}"></p></td>
                    <td><p th:text="${Book.Genre}"></p></td>
                    <td><p th:text="${Book.price}"></p></td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>

<div th:include="layout::foot"/>

</body>
</html>